:root {
    --main-bg-color: rgb(20, 19, 14);
    --plate-color: rgb(66, 65, 53);
    --trim-color: rgb(177, 157, 120);
    --text-color:  rgb(199, 195, 164);
    --glow-color: rgb(187, 173, 103);
    --faint-glow-color: rgba(128, 120, 81, 0.322);
    --active-glow-color: rgba(241, 142, 30, 0.5);
    box-shadow: inset 0 0 50px var(--faint-glow-color); 
}
body {
    background-color: var(--main-bg-color);
}
h1, h2 {
    color: var(--text-color);
    text-decoration: underline;
    text-align: center;
    text-shadow: 0 0 20px var(---glow-color);
}
h3 {
    color: var(--text-color);
    text-shadow: 0 0 20px var(---glow-color);
    margin-left: 25px;
}
p {
    color: var(--text-color);
    border-radius: 5px;
    margin-left: 25px;
    margin-right: 25px;
}
#p_intro {
    text-align: center;
    border: 2px solid var(--trim-color);
}
figure {
    width: 150px;
    height: 260px;
    background-color: var(--plate-color);
    font-size: 10px;
    border: 2px solid var(--trim-color);
    border-radius: 4px;
    transition: 0.4s;
    display: inline-block;
    margin: 10px;
}
figure:hover {
    box-shadow: 0 0 20px var(--glow-color);
    transition: 0.1s;
}

figure:active {
    box-shadow: 0 0 30px var(--active-glow-color);
    transition: 0.1s;
}
figcaption {
    color: var(--text-color);
    margin: 10px;
    margin-bottom: 25px;
}
.section_figures_row {
    width: 750px;
    margin: auto;
}
hr {
    background-color: var(--trim-color);
}
.card_artwork {
    outline: 1px dotted var(--trim-color);
}
