<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUBCATEGORY: NAME</title>
</head>

<body>
    <h1>
        <center>NAME</center>
    </h1>
    <hr>
    <p>
            DESCRIPTION
    </p>
    <h2>Stats</h2>
    <ul>
        <li>Birthday: MEME BIRTHDAY</li>
        <li>Dank: YES/NO</li>
        <li>Wholesome: YES/NO</li>
        <li>Actually Funny: YES/NO/Undecided</li>
    </ul>
    <img src="IMAGE SOURCE" alt="IMAGE DESCRIPTION" width="256">
    <hr>
    <a href="../../categories/category_memes.html">Go Back</a>
</body>

</html>