<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUBCATEGORY: NAME</title>
</head>

<body>
    <h1>
        <center>NAME</center>
    </h1>
    <p>
            DESCRIPTION
    </p>
    <hr>
    <h2>Stats</h2>
    <ul>
        <li><b>Type: SPELL/ARTIFACT/LORE</b></li>
        <li><b>Domain: DOMAIN</b></li>
        <li><b>Danger rating: SCORE/5</b></li>
    </ul>
    <h2>Special Powers & Quirks</h2>
    <ul>
        <li>POWER</li>
        <li>POWER</li>
        <li>POWER</li>
    </ul>
    <img src="IMAGE SOURCE" alt="IMAGE DESCRIPTION" width="256">
    <hr>
    <a href="../../categories/category_arcana.html">Go Back</a>
</body>

</html>