<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUBCATEGORY: NAME</title>
</head>

<body>
    <h1>
        <center>NAME</center>
    </h1>
    <p>
        <center>
            DESCRIPTION
        </center>
    </p>
    <hr>
    <h2>Stats</h2>
    <h3>LEVEL X CLASS</h3>
    <ul>
        <li><b>STAT 01: SCORE/5</b></li>
        <li><b>STAT 02: SCORE/5</b></li>
        <li><b>STAT 03: SCORE/5</b></li>
    </ul>
    <img src="IMAGE SOURCE" alt="IMAGE DESCRIPTION" width="256">
    <hr>
    <a href="../category_animals.html">Go Back</a>
</body>

</html>